---
---
@import "{{ site.theme }}";

/* Efecto Monitor CRT / Matrix */
body {
  background-color: #000000 !important; /* Fondo negro puro */
  color: #00FF41 !important; /* Verde neón Matrix */
  font-family: 'Courier New', Courier, monospace !important;
  text-shadow: 0px 0px 4px #00FF41; /* Brillo de las letras */
}

h1, h2, h3, h4, h5, h6 {
  color: #00FF41 !important;
  text-shadow: 0px 0px 8px #00FF41;
  border-bottom: 1px solid #00FF41 !important; /* Subrayado neón */
}

a {
  color: #39ff14 !important; /* Enlaces un poco más claros */
}

a:hover {
  text-shadow: 0px 0px 10px #39ff14;
  background-color: #003300; /* Fondo al pasar el ratón */
}

/* Estilo para las cajas de código de la terminal */
pre, code {
  background-color: #050505 !important;
  border: 1px solid #00FF41 !important;
  color: #00FF41 !important;
  box-shadow: 0 0 10px #00FF4120;
}
